@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1120px;
  margin: 0 auto;
  max-width: 90%;
}

.hafe-width {
  width: 50%;
}

.flex {
  display: flex;
}
.hero-section {
  align-items: center;
}

.hero-section h1 {
  font-family: "Yeseva One", cursive;
  font-size: 50px;
  border-left: 5px solid #22a6b3;
  padding-left: 10px;
}

.hero-section h1 span {
  color: #4834d4;
}

.hero-section img {
  padding-left: 80px;
}

.hero-section p {
  margin: 30px 0;
}

.btn {
  color: white;
  background-color: #22a6b3;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* mission-section */
.mission-section h1 {
  font-size: 30px;
  text-align: center;
}

.mission-section h1 span {
  color: #4834d4;
}

#mission {
  background-color: rgba(79, 157, 166, 0.1);
}
#vission {
  background-color: rgba(255, 89, 89, 0.1);
}
#goals {
  background-color: #fff4d6;
}
